@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap'); 
:root{
  --clr-text: #000000;
  --clr-background: #ffffff;
  --clr-primary-button: #8fb4ff;
  --clr-secondary-button: #ebf1ff;
  --clr-accent: #ff8f94;

  --ff-base:'Poppins';
  --ff-accent:'Cinzel';

  --fs-100: clamp(0.63rem, calc(0.84rem + -0.27vw), 0.78rem);
  --fs-200: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
  --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-400: clamp(1.35rem, calc(1.21rem + 0.73vw), 1.77rem);
  --fs-500: clamp(1.62rem, calc(1.32rem + 1.53vw), 2.50rem);
  --fs-600: clamp(1.94rem, calc(1.39rem + 2.76vw), 3.53rem);
  --fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
  --fs-800: clamp(2.80rem, calc(1.32rem + 7.41vw), 7.07rem);

}

/* @media (prefers-color-scheme:dark){
  :root{
    --clr-text: #ffffff;
    --clr-background: #000000;
    --clr-primary-button: #8fb4ff;
    --clr-secondary-button: #686868;
    --clr-accent: #ff8f94;
  }
} */
body {
  margin: 0;
  background-color: var(--clr-background);

  font-family: var(--ff-base);
  font-size: var(--fs-200);
  line-height: 1.6;
  color: var(--clr-text);
  margin-inline: auto;
}

html{
  color-scheme: light;
}
/* 
background: linear-gradient(120deg, var(--primbuttn), var(--accent)); */
